NEXT_PUBLIC_PB_URL=https://pocketbase.example
NEXT_PUBLIC_MAP_TILES_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_MAP_ATTRIBUTION=&copy; OpenStreetMap contributors
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_FCM_VAPID_KEY=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
FCM_SERVER_KEY=
